POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=robot_db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:CHANGE_ME@127.0.0.1:5432/robot_db
OLLAMA_BASE_URL=http://127.0.0.1:11434

PG_CONTAINER_NAME=robot_object_pg
OLLAMA_CONTAINER_NAME=robot_object_ollama
